<%# title @book.full_name, false %>

#<div id="book" class="<%= "legacy" if @book.legacy? %>">
  <% if params[:read] %>
    <div id="video_wrapper"><%= book_video_tag @book %></div>
  <% else %>
    <script type="text/html" id="video_template">
      <%= book_video_tag @book %>
    </script>
  <% end %>
  <div class="info<%= " video_info" if params[:read] %>">
    <div class="screenshot"><%= link_to image_tag("/assets/books/stills/#{@book.asset_name}.png", :size => "200x125", :alt => @book.name), {:read => true}, :class => "play_video" %></div>
    <h1>
      <span class="position">#<%= @book.position %></span>
      <%= @book.name %>
    </h1>
    <div class="details">
      <%= @book.published_at.strftime('%b %d, %Y') %> |
      <%= raw @book.tags.map { |tag| link_to tag.display_name, root_path(:tag_id => tag) }.join(", ") %>
      <% unless @book.published? %>
        <span class="unreleased">NOT YET RELEASED</span>
      <% end %>
    </div>
    <div class="description"><%= @book.description %></div>
    <div class="watch">
      <%= link_to({:read => true}, {:class => "play_video watch_button"}) do %>
        Click to Read &#9654;
      <% end %>
    </div>
    <div class="social">
      <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= book_url(@book) %>" data-text="Reading <%= @book.name %> on Bookshelf" data-count="horizontal" data-via="railscasts">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <ul class="downloads horizontal">
      <li>Download:</li>
      <% for file in @book.available_files %>
        <li>
          <%= link_to file[:name], file[:url] %>
          <span class="overlay"><%= file[:info] %> (<%= number_to_human_size(file[:size]) %>)</span>
        </li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>
  <ul class="nav horizontal">
    <li class="selected"><%= tab_link "Show Notes", :view => nil %></li>
    <li><%= tab_link pluralize(@book.comments.size, "Comment"), :view => "comments" %></li>
    <li><%= tab_link "Similar books", :view => "similar" %></li>
    <%= content_tag :li, link_to("Next book >", @book.next), :class => "next" if !@book.last_published? && @book.next %>
    <%= content_tag :li, link_to("< Previous book", @book.previous), :class => "previous" if @book.previous %>
  </ul>
  <div class="nav_section">
    <%= %w[comments similar].include?(params[:view]) ? render(params[:view]) : render("show_notes") %>
  </div>
</div>




################################################################################
<p id="notice">

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Permalink:</b>
  <%= @book.permalink %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Notes:</b>
  <%= @book.notes %>
</p>

<p>
  <b>Published at:</b>
  <%= @book.published_at %>
</p>

<p>
  <b>Position:</b>
  <%= @book.position %>
</p>

<p>
  <b>Comments count:</b>
  <%= @book.comments_count %>
</p>

<p>
  <b>Legacy:</b>
  <%= @book.legacy %>
</p>

<p>
  <b>File sizes:</b>
  <%= @book.file_sizes %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
